server/node-red-flow.json
[{"id":"73c29cd9.0e9a04","type":"tab","label":"Halloween","disabled":false,"info":""},{"id":"f88a6f78.075e3","type":"mqtt in","z":"73c29cd9.0e9a04","name":"","topic":"movement","qos":"2","datatype":"auto","broker":"a0f0d90a.cd6e48","x":200,"y":540,"wires":[["6d0122b1.6d711c"]]},{"id":"32491939.9abb16","type":"mqtt out","z":"73c29cd9.0e9a04","name":"","topic":"horror","qos":"2","retain":"","broker":"a0f0d90a.cd6e48","x":870,"y":340,"wires":[]},{"id":"9274b4dd.ee6558","type":"mqtt in","z":"73c29cd9.0e9a04","name":"","topic":"green","qos":"2","datatype":"auto","broker":"a0f0d90a.cd6e48","x":190,"y":760,"wires":[["9b13b42d.053f08"]]},{"id":"6d0122b1.6d711c","type":"debug","z":"73c29cd9.0e9a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":600,"wires":[]},{"id":"a9ff943a.780208","type":"ui_button","z":"73c29cd9.0e9a04","name":"","group":"a3dad149.7dff5","order":0,"width":0,"height":0,"passthru":false,"label":"Trigger Horror","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":340,"wires":[["e2d24f51.9661a"]]},{"id":"952f44e7.ee3df8","type":"ui_text","z":"73c29cd9.0e9a04","group":"a3dad149.7dff5","order":1,"width":0,"height":0,"name":"","label":"Last Movement","format":"{{msg.payload}}","layout":"col-center","x":920,"y":580,"wires":[]},{"id":"2b4c0b50.ed3ee4","type":"function","z":"73c29cd9.0e9a04","name":"Set time","func":"msg.payload = new Date().toLocaleString(\"de-DE\");\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":580,"wires":[["952f44e7.ee3df8"]]},{"id":"7cc01876.fb3ff8","type":"ui_text","z":"73c29cd9.0e9a04","group":"a3dad149.7dff5","order":3,"width":0,"height":0,"name":"","label":"Times triggered","format":"{{msg.count}}","layout":"col-center","x":920,"y":500,"wires":[]},{"id":"e5fdf72d.87fae8","type":"counter","z":"73c29cd9.0e9a04","name":"Count Movements","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":1,"x":710,"y":500,"wires":[["7cc01876.fb3ff8"]]},{"id":"9b13b42d.053f08","type":"delay","z":"73c29cd9.0e9a04","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":760,"wires":[[]]},{"id":"28cbe512.05dc1a","type":"mqtt out","z":"73c29cd9.0e9a04","name":"","topic":"fire","qos":"2","retain":"","broker":"a0f0d90a.cd6e48","x":870,"y":160,"wires":[]},{"id":"62e7d5fe.1c32dc","type":"ui_button","z":"73c29cd9.0e9a04","name":"","group":"a3dad149.7dff5","order":0,"width":0,"height":0,"passthru":false,"label":"Trigger Fire","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":160,"wires":[["35fb4210.14e09e"]]},{"id":"17a5cebb.fc10e1","type":"mqtt out","z":"73c29cd9.0e9a04","name":"","topic":"pink","qos":"2","retain":"","broker":"a0f0d90a.cd6e48","x":870,"y":220,"wires":[]},{"id":"3d893692.58a5aa","type":"ui_button","z":"73c29cd9.0e9a04","name":"","group":"a3dad149.7dff5","order":0,"width":0,"height":0,"passthru":false,"label":"Trigger Pink","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":220,"wires":[["2a877bbf.fa42d4"]]},{"id":"8715d027.bf48a","type":"comment","z":"73c29cd9.0e9a04","name":"Trigger UI Buttons","info":"","x":170,"y":40,"wires":[]},{"id":"a45bacc3.177ed","type":"comment","z":"73c29cd9.0e9a04","name":"Movement Logic","info":"","x":160,"y":440,"wires":[]},{"id":"344d10bd.9c5c8","type":"comment","z":"73c29cd9.0e9a04","name":"Horror reset logic","info":"","x":160,"y":700,"wires":[]},{"id":"c69bdeb4.779c8","type":"mqtt out","z":"73c29cd9.0e9a04","name":"","topic":"off","qos":"2","retain":"","broker":"a0f0d90a.cd6e48","x":870,"y":280,"wires":[]},{"id":"778695fd.32687c","type":"ui_button","z":"73c29cd9.0e9a04","name":"","group":"a3dad149.7dff5","order":0,"width":0,"height":0,"passthru":false,"label":"Trigger Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":280,"wires":[["9b2b5d94.50f8c"]]},{"id":"9b2b5d94.50f8c","type":"change","z":"73c29cd9.0e9a04","name":"turn off device","rules":[{"t":"set","p":"state","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"theme","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["c69bdeb4.779c8","d1d09723.af9848"]]},{"id":"861e9681.fb2fa8","type":"switch","z":"73c29cd9.0e9a04","name":"device is on","property":"state","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":540,"wires":[["e5fdf72d.87fae8","2b4c0b50.ed3ee4"]]},{"id":"2a877bbf.fa42d4","type":"change","z":"73c29cd9.0e9a04","name":"turn on device","rules":[{"t":"set","p":"state","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"theme","pt":"flow","to":"Pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["17a5cebb.fc10e1","d1d09723.af9848"]]},{"id":"35fb4210.14e09e","type":"change","z":"73c29cd9.0e9a04","name":"turn on device","rules":[{"t":"set","p":"state","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"theme","pt":"flow","to":"Fire","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":160,"wires":[["28cbe512.05dc1a","d1d09723.af9848"]]},{"id":"e2d24f51.9661a","type":"change","z":"73c29cd9.0e9a04","name":"turn on device","rules":[{"t":"set","p":"state","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"theme","pt":"flow","to":"Horror","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["32491939.9abb16","d1d09723.af9848"]]},{"id":"f7a41c46.aaf1a","type":"ui_text","z":"73c29cd9.0e9a04","group":"a3dad149.7dff5","order":6,"width":0,"height":0,"name":"","label":"Current Theme","format":"{{msg.theme}}","layout":"row-spread","x":1140,"y":40,"wires":[]},{"id":"d1d09723.af9848","type":"function","z":"73c29cd9.0e9a04","name":"get data from flow","func":"msg.theme = flow.get('theme');\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":40,"wires":[["f7a41c46.aaf1a"]]},{"id":"eda1e417.ecb8a8","type":"ui_button","z":"73c29cd9.0e9a04","name":"","group":"a3dad149.7dff5","order":0,"width":0,"height":0,"passthru":false,"label":"Trigger Green","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":100,"wires":[["2493e667.aa6eea"]]},{"id":"2493e667.aa6eea","type":"change","z":"73c29cd9.0e9a04","name":"turn on device","rules":[{"t":"set","p":"state","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"theme","pt":"flow","to":"Green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["ee7b8e4e.a555c","d1d09723.af9848"]]},{"id":"ee7b8e4e.a555c","type":"mqtt out","z":"73c29cd9.0e9a04","name":"","topic":"green","qos":"2","retain":"","broker":"a0f0d90a.cd6e48","x":870,"y":100,"wires":[]},{"id":"a0f0d90a.cd6e48","type":"mqtt-broker","z":"","name":"broker","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a3dad149.7dff5","type":"ui_group","z":"","name":"Halloween Data","tab":"819df163.27332","order":1,"disp":true,"width":"6","collapse":false},{"id":"819df163.27332","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]