server/node-red-flow.json
[
    {
        "id": "73c29cd9.0e9a04",
        "type": "tab",
        "label": "Halloween",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f88a6f78.075e3",
        "type": "mqtt in",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "topic": "movement",
        "qos": "2",
        "datatype": "auto",
        "broker": "a0f0d90a.cd6e48",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "fd1ada8b.1ee9f8",
                "2b4c0b50.ed3ee4",
                "e5fdf72d.87fae8",
                "6d0122b1.6d711c"
            ]
        ]
    },
    {
        "id": "32491939.9abb16",
        "type": "mqtt out",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "topic": "horror",
        "qos": "2",
        "retain": "",
        "broker": "a0f0d90a.cd6e48",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd1ada8b.1ee9f8",
        "type": "mqtt out",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "topic": "horror",
        "qos": "2",
        "retain": "",
        "broker": "a0f0d90a.cd6e48",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "9274b4dd.ee6558",
        "type": "mqtt in",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "topic": "horror",
        "qos": "2",
        "datatype": "auto",
        "broker": "a0f0d90a.cd6e48",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "9b13b42d.053f08"
            ]
        ]
    },
    {
        "id": "6d0122b1.6d711c",
        "type": "debug",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "a9ff943a.780208",
        "type": "ui_button",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "group": "a3dad149.7dff5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger Horror",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "32491939.9abb16"
            ]
        ]
    },
    {
        "id": "952f44e7.ee3df8",
        "type": "ui_text",
        "z": "73c29cd9.0e9a04",
        "group": "a3dad149.7dff5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Movement",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "2b4c0b50.ed3ee4",
        "type": "function",
        "z": "73c29cd9.0e9a04",
        "name": "Set time",
        "func": "msg.payload = new Date().toLocaleString(\"de-DE\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "952f44e7.ee3df8"
            ]
        ]
    },
    {
        "id": "7cc01876.fb3ff8",
        "type": "ui_text",
        "z": "73c29cd9.0e9a04",
        "group": "a3dad149.7dff5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Times triggered",
        "format": "{{msg.count}}",
        "layout": "col-center",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "e5fdf72d.87fae8",
        "type": "counter",
        "z": "73c29cd9.0e9a04",
        "name": "Count Movements",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": 1,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "7cc01876.fb3ff8"
            ]
        ]
    },
    {
        "id": "57a0c553.783bcc",
        "type": "mqtt out",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "topic": "fire",
        "qos": "2",
        "retain": "",
        "broker": "a0f0d90a.cd6e48",
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "9b13b42d.053f08",
        "type": "delay",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 380,
        "y": 660,
        "wires": [
            [
                "57a0c553.783bcc"
            ]
        ]
    },
    {
        "id": "28cbe512.05dc1a",
        "type": "mqtt out",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "topic": "fire",
        "qos": "2",
        "retain": "",
        "broker": "a0f0d90a.cd6e48",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "62e7d5fe.1c32dc",
        "type": "ui_button",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "group": "a3dad149.7dff5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger Fire",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "28cbe512.05dc1a"
            ]
        ]
    },
    {
        "id": "17a5cebb.fc10e1",
        "type": "mqtt out",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "topic": "pink",
        "qos": "2",
        "retain": "",
        "broker": "a0f0d90a.cd6e48",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "3d893692.58a5aa",
        "type": "ui_button",
        "z": "73c29cd9.0e9a04",
        "name": "",
        "group": "a3dad149.7dff5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger Pink",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "17a5cebb.fc10e1"
            ]
        ]
    },
    {
        "id": "8715d027.bf48a",
        "type": "comment",
        "z": "73c29cd9.0e9a04",
        "name": "Trigger UI Buttons",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "a45bacc3.177ed",
        "type": "comment",
        "z": "73c29cd9.0e9a04",
        "name": "Movement Logic",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "344d10bd.9c5c8",
        "type": "comment",
        "z": "73c29cd9.0e9a04",
        "name": "Horror reset logic",
        "info": "",
        "x": 160,
        "y": 600,
        "wires": []
    },
    {
        "id": "a0f0d90a.cd6e48",
        "type": "mqtt-broker",
        "z": "",
        "name": "broker",
        "broker": "broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a3dad149.7dff5",
        "type": "ui_group",
        "z": "",
        "name": "Halloween Data",
        "tab": "819df163.27332",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "819df163.27332",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]